@page "{restaurantId:int}"
@model OdeToFoodNew.DetailModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>@Model.Resturant.Location</h2>
<h3>@Model.Resturant.Cuisine</h3>
<a class="btn btn-primary" asp-page="./List">Restaurants</a>

