@page "{restaurantId:int}"
@model OdeToFoodNew.DetailModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if(Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

    <h2>@Model.Resturant.Id</h2>

<h2>@Model.Resturant.Location</h2>
<h3>@Model.Resturant.Cuisine</h3>


<a class="btn btn-primary" asp-page="./List">Restaurants</a>

